body{
    background-color: rgb(20, 32, 43);
    color: rgb(32, 128, 3);
    /* color: #84c754; */
    /* text-shadow: 0px 0px 20px #29c536; */
    
}
form{
    border-style: double;
    width: fit-content;
    height: fit-content;
    text-align: center;
    label{
        display: flex;
        justify-content: center;
    }
    textarea{
        resize: none;
    }
    .Choice{
        display: flex;
        justify-content: center;
    }

}

nav{
    a{
        text-decoration: none;
        color: rgb(32, 128, 3);
        border-style: solid;
        padding: 0.5%;
    }
    a:hover{
        background-color: rgb(32, 128, 3);
        color: rgb(20, 32, 43);
        padding: 0.5%;
    }
    margin: 1%;
}

/* Highlight the label when the checkbox is checked MADE WITH CHATGPT... never knew you can do this in css */
label:has(input[type="checkbox"]:checked) {
    background-color: aliceblue;
}


a{
    color: rgb(32, 128, 3);
    text-decoration: none;
    font-size: larger;
}

#tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}